@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>
<div class="pageWrapper">
    <table class="about">
        <tr>
            <th>
                Enrollment Date
            </th>
            <th>
                Students
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @item.StudentCount
                </td>
            </tr>
        }
    </table>
</div>
<div class="pageWrapper">
    <h4>Contact Information</h4>
    <p> Sarah Reed</p>
    <p>ree16014@byui.edu</p>
    <p>208-403-2887</p>
</div>