@{
    ViewData["Title"] = "Home Page";
}
    <div class="titleContainer">
<div class="title">
    <h1>Contoso University</h1>
</div></div>
<div class="row" id="home">
    <div class="col px-md-4 pageWrapper" >
        <h2>About Us</h2>
        <p>
            Our Programs &raquo;
        </p>
        <p>
            Our Professors &raquo;
        </p>
        <p>
            Our Students &raquo;
        </p>
    </div>
    <div class="col px-md-4 pageWrapper">
        <h2>Apply Now</h2>
        <p>
            New Student &raquo;
        </p>
        <p>
            Transfer Student &raquo;
        </p>
        <p>
            Graduate Student &raquo;
        </p>
    </div>
    <div class="col px-md-4 pageWrapper">
        <h2>Campus Activities</h2>
        <p>
            Intramural Sports &raquo;
        </p>
        <p>
            Dances &raquo;
        </p>
        <p>
            Concerts &raquo;
        </p>
    </div>
</div>
